.footer {
	padding: 25px 0;
	margin: 0;
}

.links {
	text-align: center;
}

.icon {
	color: black !important;
	margin: 0 14px;
}

.icon:hover {
	color: #ff5c59 !important;
	margin: 0 14px;
}

.copyright {
	color: black !important;
	font-family: "Questrial", sans-serif;
	font-size: small;
	font-weight: 400;
	text-align: center;
	margin: 12px 0 0 0;
}

@media (min-width: 768px) {
	.links {
		text-align: left;
	}

	.copyright {
		text-align: right;
		margin-top: 0;
	}
}